In [1]:
import pandas as pd

In [125]:


df = pd.read_csv('Acc8-5classes-100-samples.csv')
df.describe()

        0.732000
count  29.000000
mean    0.737773
std     0.041859
min     0.616092
25%     0.721207
50%     0.742606
75%     0.764672
max     0.809480

In [112]:


df = pd.read_csv('Acc8-5classes-200-samples.csv')
df.describe()

        0.772566
count  29.000000
mean    0.749765
std     0.043650
min     0.651990
25%     0.727016
50%     0.741581
75%     0.790205
max     0.811037

In [113]:


df = pd.read_csv('Acc8-5classes-300-samples.csv')
df.describe()

        0.738417
count  14.000000
mean    0.782059
std     0.028313
min     0.733235
25%     0.763133
50%     0.786959
75%     0.801861
max     0.831894

In [119]:
df = pd.read_csv('Acc8-5classes-400-samples.csv')
df.describe()

        0.777096
count  29.000000
mean    0.763607
std     0.046176
min     0.643802
25%     0.739740
50%     0.773144
75%     0.793388
max     0.836836

In [120]:
df = pd.read_csv('Acc8-5classes-500-samples.csv')
df.describe()

        0.788722
count  29.000000
mean    0.771436
std     0.042616
min     0.669039
25%     0.747493
50%     0.767628
75%     0.795181
max     0.843774

In [126]:
df = pd.read_csv('Acc8-5classes-600-samples.csv')
df.describe()

        0.783172
count  63.000000
mean    0.765782
std     0.046131
min     0.645129
25%     0.734905
50%     0.770252
75%     0.798814
max     0.854492

In [105]:


df = pd.read_csv('Acc16-5classes-100-samples.csv')
df.describe()

        0.742824
count  29.000000
mean    0.776456
std     0.044778
min     0.648041
25%     0.753086
50%     0.787067
75%     0.811156
max     0.833110

In [92]:


df = pd.read_csv('Acc16-5classes-200-samples.csv')
df.describe()

        0.728500
count  29.000000
mean    0.803229
std     0.036801
min     0.674398
25%     0.791023
50%     0.806564
75%     0.816655
max     0.864215

In [93]:


df = pd.read_csv('Acc16-5classes-300-samples.csv')
df.describe()

        0.843610
count  29.000000
mean    0.820272
std     0.042276
min     0.704248
25%     0.797786
50%     0.830341
75%     0.852737
max     0.873315

In [98]:


df = pd.read_csv('Acc16-5classes-400-samples.csv')
df.describe()

        0.763485
count  28.000000
mean    0.829812
std     0.024017
min     0.784507
25%     0.816600
50%     0.829553
75%     0.846136
max     0.869084

In [99]:


df = pd.read_csv('Acc16-5classes-500-samples.csv')
df.describe()

        0.785823
count  26.000000
mean    0.827692
std     0.022657
min     0.765980
25%     0.810651
50%     0.830839
75%     0.842950
max     0.870370

In [101]:


df = pd.read_csv('Acc16-5classes-600-samples.csv')
df.describe()

       0.774611
count  5.000000
mean   0.832518
std    0.008660
min    0.826382
25%    0.826582
50%    0.827657
75%    0.835504
max    0.846465

In [103]:


df = pd.read_csv('Acc24-5classes-100-samples.csv')
df.describe()

        0.813333
count  27.000000
mean    0.817473
std     0.041712
min     0.733024
25%     0.799291
50%     0.819324
75%     0.851232
max     0.878317

In [104]:


df = pd.read_csv('Acc24-5classes-200-samples.csv')
df.describe()

        0.823990
count  29.000000
mean    0.840781
std     0.025515
min     0.774232
25%     0.821097
50%     0.844363
75%     0.856628
max     0.883655

In [64]:


df = pd.read_csv('Acc24-5classes-300-samples.csv')
df.describe()

        0.823069
count  29.000000
mean    0.841610
std     0.030913
min     0.777494
25%     0.820225
50%     0.847905
75%     0.866709
max     0.896337

In [78]:


df = pd.read_csv('Acc24-5classes-400-samples.csv')
df.describe()

        0.767376
count  28.000000
mean    0.851258
std     0.024334
min     0.811923
25%     0.836398
50%     0.851265
75%     0.867671
max     0.906587

In [82]:


df = pd.read_csv('Acc24-5classes-500-samples.csv')
df.describe()

        0.858706
count  29.000000
mean    0.847960
std     0.028639
min     0.785266
25%     0.827851
50%     0.849376
75%     0.865838
max     0.913580

In [83]:



df = pd.read_csv('Acc24-5classes-600-samples.csv')
df.describe()

        0.905000
count  29.000000
mean    0.849065
std     0.032104
min     0.765217
25%     0.831341
50%     0.851286
75%     0.868102
max     0.916335

In [38]:


df = pd.read_csv('Acc32-5classes-200-samples.csv')
df.describe()

       0.858726
count  9.000000
mean   0.847219
std    0.019810
min    0.801932
25%    0.843923
50%    0.854321
75%    0.857016
max    0.866953

In [39]:


df = pd.read_csv('Acc32-5classes-300-samples.csv')
df.describe()

       0.831270
count  9.000000
mean   0.863279
std    0.016094
min    0.840409
25%    0.854421
50%    0.866523
75%    0.870840
max    0.885362

In [43]:


df = pd.read_csv('Acc32-5classes-400-samples.csv')
df.describe()

       0.851777
count  9.000000
mean   0.852943
std    0.026009
min    0.804365
25%    0.840319
50%    0.854037
75%    0.866759
max    0.888889

In [47]:


df = pd.read_csv('Acc32-5classes-500-samples.csv')
df.describe()

       0.827012
count  9.000000
mean   0.861448
std    0.015061
min    0.844523
25%    0.850305
50%    0.860037
75%    0.871287
max    0.891200

In [52]:


df = pd.read_csv('Acc32-5classes-600-samples.csv')
df.describe()

       0.818411
count  9.000000
mean   0.866629
std    0.023764
min    0.835968
25%    0.848052
50%    0.859821
75%    0.890523
max    0.895833